
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFeatureLabel">
            <span ng-show="vm.feature.id" data-translate="pidmsApp.feature.home.editLabel">Edit a Feature Type</span>
            <span ng-show="!vm.feature.id" data-translate="pidmsApp.feature.home.createLabel">Create a Feature Type</span>
            <small ng-show="vm.feature.id">[id:{{vm.feature.id}}]</small>
        </h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.feature.id">
            <input type="hidden" class="form-control" id="id" name="id"
                    ng-model="vm.feature.id" disabled="true" />
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" data-translate="section.description">Description Section</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label" data-translate="pidmsApp.feature.featureType" for="field_featureType">Feature Type</label>
                    <input type="text" class="form-control" name="featureType" id="field_featureType"
                           ng-model="vm.feature.featureType" required
                    />
                    <div ng-show="editForm.featureType.$invalid">
                        <p class="help-block"
                           ng-show="editForm.featureType.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label" data-translate="pidmsApp.feature.schemaPrefix" for="field_schemaPrefix">Schema Prefix</label>
                    <input type="text" class="form-control" name="schemaPrefix" id="field_schemaPrefix"
                           ng-model="vm.feature.schemaPrefix" required
                    />
                    <div ng-show="editForm.schemaPrefix.$invalid">
                        <p class="help-block"
                           ng-show="editForm.schemaPrefix.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label" data-translate="pidmsApp.feature.schemaUri" for="field_schemaUri">Schema Uri</label>
                    <input type="text" class="form-control" name="schemaUri" id="field_schemaUri"
                           ng-model="vm.feature.schemaUri" required
                    />
                    <div ng-show="editForm.schemaUri.$invalid">
                        <p class="help-block"
                           ng-show="editForm.schemaUri.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label data-translate="pidmsApp.feature.namespace" for="field_namespace">Namespace</label>
                    <select class="form-control" id="field_namespace" name="namespace" ng-model="vm.feature.namespaceId" ng-options="namespace.id as namespace.namespace for namespace in vm.namespaces" required>
                        <option value=""></option>
                    </select>
                    <div ng-show="editForm.namespace.$invalid">
                        <p class="help-block"
                           ng-show="editForm.namespace.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" data-translate="pidmsApp.feature.technicalSection">Technical Section</h3>
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-translate="pidmsApp.feature.namespaceMappings">Namespace mapping</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" data-translate="pidmsApp.feature.schemaUriGML" for="field_schemaUriGML">Schema Uri GML</label>
                            <input type="text" class="form-control" name="schemaUriGML" id="field_schemaUriGML"
                                   ng-model="vm.feature.schemaUriGML" required
                            />
                            <div ng-show="editForm.schemaUriGML.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.schemaUriGML.$error.required" data-translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="control-label" data-translate="pidmsApp.feature.schemaUriBase" for="field_schemaUriBase">Schema Uri Base</label>
                            <input type="text" class="form-control" name="schemaUriBase" id="field_schemaUriBase"
                                   ng-model="vm.feature.schemaUriBase" required
                            />
                            <div ng-show="editForm.schemaUriBase.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.schemaUriBase.$error.required" data-translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="control-label" data-translate="pidmsApp.feature.xpath" for="field_xpath">Xpath</label>
                            <input type="text" class="form-control" name="xpath" id="field_xpath"
                                   ng-model="vm.feature.xpath" required
                            />
                            <div ng-show="editForm.xpath.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.xpath.$error.required" data-translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-translate="pidmsApp.feature.attributeMappings">Attribute mapping</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" data-translate="pidmsApp.feature.geometryProperty" for="field_geometryProperty">Geometry Property</label>
                            <input type="text" class="form-control" name="geometryProperty" id="field_geometryProperty"
                                   ng-model="vm.feature.geometryProperty" required
                            />
                            <div ng-show="editForm.geometryProperty.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.geometryProperty.$error.required" data-translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="control-label" data-translate="pidmsApp.feature.beginLifespanVersionProperty" for="field_beginLifespanVersionProperty">Begin Lifespan Version Property</label>
                            <input type="text" class="form-control" name="beginLifespanVersionProperty" id="field_beginLifespanVersionProperty"
                                   ng-model="vm.feature.beginLifespanVersionProperty" required
                            />
                            <div ng-show="editForm.beginLifespanVersionProperty.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.beginLifespanVersionProperty.$error.required" data-translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="control-label" data-translate="pidmsApp.feature.nameItem" for="field_nameItem">Name Item</label>
                            <input type="text" class="form-control" name="nameItem" id="field_nameItem"
                                   ng-model="vm.feature.nameItem" required
                            />
                            <div ng-show="editForm.nameItem.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.nameItem.$error.required" data-translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-translate="pidmsApp.feature.harvestSection">Harvest strategy</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" data-translate="pidmsApp.feature.featuresThreshold" for="field_featuresThreshold">Features Threshold</label>
                            <input type="number" class="form-control" name="featuresThreshold" id="field_featuresThreshold"
                                   ng-model="vm.feature.featuresThreshold" required
                            />
                            <div ng-show="editForm.featuresThreshold.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.featuresThreshold.$error.required" data-translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="control-label" data-translate="pidmsApp.feature.hitsRequest" for="field_hitsRequest">Hits Request</label>
                            <input type="checkbox" name="hitsRequest" id="field_hitsRequest" required
                                   ng-model="vm.feature.hitsRequest"/>
                            <div ng-show="editForm.hitsRequest.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.hitsRequest.$error.required" data-translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="control-label" data-translate="pidmsApp.feature.factorK" for="field_factorK">Factor K</label>
                            <input type="number" class="form-control" name="factorK" id="field_factorK"
                                   ng-model="vm.feature.factorK" required
                            />
                            <div ng-show="editForm.factorK.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.factorK.$error.required" data-translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-translate="pidmsApp.feature.boundingBoxSection">Bounding Box</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" data-translate="pidmsApp.feature.srsName" for="field_srsName">Srs Name</label>
                            <input type="text" class="form-control" name="srsName" id="field_srsName" required
                                   ng-model="vm.feature.srsName"
                            />
                            <div ng-show="editForm.srsName.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.srsName.$error.required" data-translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="control-label" data-translate="pidmsApp.feature.minX" for="field_minX">Min X</label>
                            <input type="number" class="form-control" name="minX" id="field_minX"
                                   ng-model="vm.feature.minX" required
                            />
                            <div ng-show="editForm.minX.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.minX.$error.required" data-translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="control-label" data-translate="pidmsApp.feature.minY" for="field_minY">Min Y</label>
                            <input type="number" class="form-control" name="minY" id="field_minY"
                                   ng-model="vm.feature.minY" required
                            />
                            <div ng-show="editForm.minY.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.minY.$error.required" data-translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="control-label" data-translate="pidmsApp.feature.maxX" for="field_maxX">Max X</label>
                            <input type="number" class="form-control" name="maxX" id="field_maxX"
                                   ng-model="vm.feature.maxX" required
                            />
                            <div ng-show="editForm.maxX.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.maxX.$error.required" data-translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="control-label" data-translate="pidmsApp.feature.maxY" for="field_maxY">Max Y</label>
                            <input type="number" class="form-control" name="maxY" id="field_maxY"
                                   ng-model="vm.feature.maxY" required
                            />
                            <div ng-show="editForm.maxY.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.maxY.$error.required" data-translate="entity.validation.required">
                                    This field is required.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
