
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNamespaceLabel">
            <span ng-show="vm.namespace.id" data-translate="pidmsApp.namespace.home.editLabel">Edit a Namespace</span>
            <span ng-show="!vm.namespace.id" data-translate="pidmsApp.namespace.home.createLabel">Create a Namespace</span>
            <small ng-show="vm.namespace.id">[id:{{vm.namespace.id}}]</small>
        </h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.namespace.id">
            <input type="hidden" class="form-control" id="id" name="id"
                    ng-model="vm.namespace.id" disabled="true" />
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" data-translate="section.description">Description Section</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label" data-translate="pidmsApp.namespace.namespace" for="field_namespace">Namespace</label>
                    <input type="text" class="form-control" name="namespace" id="field_namespace"
                           ng-model="vm.namespace.namespace" disabled="{{vm.namespace.id}}"
                           required/>
                    <div ng-show="editForm.namespace.$invalid">
                        <p class="help-block"
                           ng-show="editForm.namespace.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label" data-translate="pidmsApp.namespace.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           ng-model="vm.namespace.title" required
                    />
                    <div ng-show="editForm.namespace.$invalid">
                        <p class="help-block"
                           ng-show="editForm.namespace.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label" data-translate="pidmsApp.namespace.publicNamespace" for="field_publicNamespace">Public Namespace</label>
                    <input type="checkbox" name="publicNamespace" id="field_publicNamespace"
                           ng-model="vm.namespace.publicNamespace"/>
                    <div ng-show="editForm.publicNamespace.$invalid">
                        <p class="help-block"
                           ng-show="editForm.publicNamespace.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label" data-translate="pidmsApp.namespace.renewalPolicy" for="field_renewalPolicy">Renewal Policy</label>
                    <select class="form-control" name="renewalPolicy" ng-model="vm.namespace.renewalPolicy" id="field_renewalPolicy" required>
                        <option value="NONE" data-translate="pidmsApp.RenewalPolicy.NONE">NONE</option>
                        <option value="CONTINUOUS" data-translate="pidmsApp.RenewalPolicy.CONTINUOUS">CONTINUOUS</option>
                        <option value="ONE_MINUTE" data-translate="pidmsApp.RenewalPolicy.ONE_MINUTE">ONE_MINUTE</option>
                        <option value="DAILY" data-translate="pidmsApp.RenewalPolicy.DAILY">DAILY</option>
                        <option value="MONTHLY" data-translate="pidmsApp.RenewalPolicy.MONTHLY">MONTHLY</option>
                        <option value="YEARLY" data-translate="pidmsApp.RenewalPolicy.YEARLY">YEARLY</option>
                    </select>
                    <div ng-show="editForm.renewalPolicy.$invalid">
                        <p class="help-block"
                           ng-show="editForm.renewalPolicy.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label data-translate="pidmsApp.namespace.owner" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" ng-model="vm.namespace.ownerId" ng-options="organization.id as organization.title for organization in vm.organizations" required >
                        <option value=""></option>
                    </select>
                    <div ng-show="editForm.renewalPolicy.$invalid">
                        <p class="help-block"
                           ng-show="editForm.renewalPolicy.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" data-translate="section.source">Source Section</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label" data-translate="pidmsApp.namespace.endpointLocation" for="field_endpointLocation">Endpoint Location</label>
                    <input type="text" class="form-control" name="endpointLocation" id="field_endpointLocation"
                           ng-model="vm.namespace.endpointLocation" required
                    />
                    <div ng-show="editForm.renewalPolicy.$invalid">
                        <p class="help-block"
                           ng-show="editForm.renewalPolicy.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label" data-translate="pidmsApp.namespace.sourceType" for="field_sourceType">Source Type</label>
                    <select class="form-control" name="sourceType" ng-model="vm.namespace.sourceType" id="field_sourceType" required>
                        <option value="WFS" data-translate="pidmsApp.SourceType.WFS">WFS</option>
                        <option value="SHP" data-translate="pidmsApp.SourceType.SHP">SHP</option>
                    </select>
                    <div ng-show="editForm.sourceType.$invalid">
                        <p class="help-block"
                           ng-show="editForm.sourceType.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label" data-translate="pidmsApp.namespace.methodType" for="field_methodType">Method Type</label>
                    <select class="form-control" name="methodType" ng-model="vm.namespace.methodType" id="field_methodType" required>
                        <option value="GET" data-translate="pidmsApp.MethodType.GET">GET</option>
                        <option value="POST" data-translate="pidmsApp.MethodType.POST">POST</option>
                    </select>
                    <div ng-show="editForm.methodType.$invalid">
                        <p class="help-block"
                           ng-show="editForm.methodType.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label" data-translate="pidmsApp.namespace.resolverProxyMode" for="field_resolverProxyMode">Resolver Proxy Mode</label>
                    <input type="checkbox" name="resolverProxyMode" id="field_resolverProxyMode"
                           ng-model="vm.namespace.resolverProxyMode"/>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label" data-translate="pidmsApp.namespace.maxNumRequest" for="field_maxNumRequest">Max Num Request</label>
                    <input type="number" class="form-control" name="maxNumRequest" id="field_maxNumRequest"
                           ng-model="vm.namespace.maxNumRequest"
                           min="0" required/>
                    <div ng-show="editForm.maxNumRequest.$invalid">
                        <p class="help-block"
                           ng-show="editForm.maxNumRequest.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                            This field should be at least 0.
                        </p>
                        <p class="help-block"
                           ng-show="editForm.maxNumRequest.$error.number" data-translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" data-translate="section.registration">Registration Section</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label" data-translate="registration.processStatus" for="field_processStatus">Process Status</label>
                    <select class="form-control" name="processStatus" disabled="true" ng-model="vm.namespace.processStatus" id="field_processStatus">
                        <option value="PENDING_PREPARING_HARVEST" data-translate="pidmsApp.ProcessStatus.PENDING_PREPARING_HARVEST">PENDING_PREPARING_HARVEST</option>
                        <option value="PREPARING_HARVEST" data-translate="pidmsApp.ProcessStatus.PREPARING_HARVEST">PREPARING_HARVEST</option>
                        <option value="PENDING_HARVEST" data-translate="pidmsApp.ProcessStatus.PENDING_HARVEST">PENDING_HARVEST</option>
                        <option value="HARVEST" data-translate="pidmsApp.ProcessStatus.HARVEST">HARVEST</option>
                        <option value="PENDING_TRANSFERRING_HARVEST" data-translate="pidmsApp.ProcessStatus.PENDING_TRANSFERRING_HARVEST">PENDING_TRANSFERRING_HARVEST</option>
                        <option value="TRANSFERRING_HARVEST" data-translate="pidmsApp.ProcessStatus.TRANSFERRING_HARVEST">TRANSFERRING_HARVEST</option>
                        <option value="PENDING_VALIDATION_BY_ID" data-translate="pidmsApp.ProcessStatus.PENDING_VALIDATION_BY_ID">PENDING_VALIDATION_BY_ID</option>
                        <option value="VALIDATION_BY_ID" data-translate="pidmsApp.ProcessStatus.VALIDATION_BY_ID">VALIDATION_BY_ID</option>
                        <option value="PENDING_TRANSFERRING_VALIDATION_BY_ID" data-translate="pidmsApp.ProcessStatus.PENDING_TRANSFERRING_VALIDATION_BY_ID">PENDING_TRANSFERRING_VALIDATION_BY_ID</option>
                        <option value="TRANSFERRING_VALIDATION_BY_ID" data-translate="pidmsApp.ProcessStatus.TRANSFERRING_VALIDATION_BY_ID">TRANSFERRING_VALIDATION_BY_ID</option>
                        <option value="PENDING_VALIDATION_END" data-translate="pidmsApp.ProcessStatus.PENDING_VALIDATION_END">PENDING_VALIDATION_END</option>
                        <option value="VALIDATION_END" data-translate="pidmsApp.ProcessStatus.VALIDATION_END">VALIDATION_END</option>
                        <option value="VALIDATION_BEGIN" data-translate="pidmsApp.ProcessStatus.VALIDATION_BEGIN">VALIDATION_BEGIN</option>
                        <option value="NONE" data-translate="pidmsApp.ProcessStatus.NONE">NONE</option>
                    </select>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label" data-translate="registration.itemStatus" for="field_itemStatus">Item Status</label>
                    <select class="form-control" name="itemStatus" disabled="true" ng-model="vm.namespace.itemStatus" id="field_itemStatus">
                        <option value="ISSUED" data-translate="pidmsApp.ItemStatus.ISSUED">ISSUED</option>
                        <option value="LAPSED" data-translate="pidmsApp.ItemStatus.LAPSED">LAPSED</option>
                        <option value="RETIRED" data-translate="pidmsApp.ItemStatus.RETIRED">RETIRED</option>
                        <option value="PENDING_VALIDATION" data-translate="pidmsApp.ItemStatus.PENDING_VALIDATION">PENDING_VALIDATION</option>
                        <option value="ANNULLED" data-translate="pidmsApp.ItemStatus.ANNULLED">ANNULLED</option>
                        <option value="PENDING_RETIREMENT" data-translate="pidmsApp.ItemStatus.PENDING_RETIREMENT">PENDING_RETIREMENT</option>
                        <option value="NEW" data-translate="pidmsApp.ItemStatus.NEW">NEW</option>
                        <option value="VALIDATED" data-translate="pidmsApp.ItemStatus.VALIDATED">VALIDATED</option>
                        <option value="PENDING_ANNULLATION" data-translate="pidmsApp.ItemStatus.PENDING_ANNULLATION">PENDING_ANNULLATION</option>
                    </select>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label" data-translate="registration.registrationDate" for="field_registrationDate">Registration Date</label>
                    <div class="input-group">
                        <input id="field_registrationDate" type="text" disabled="true" class="form-control" name="registrationDate" datetime-picker="{{dateformat}}" ng-model="vm.namespace.registrationDate" is-open="vm.datePickerOpenStatus.registrationDate"
                        />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" disabled="true" ng-click="vm.openCalendar('registrationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label" data-translate="registration.lastChangeDate" for="field_lastChangeDate">Last Change Date</label>
                    <div class="input-group">
                        <input id="field_lastChangeDate" type="text" disabled="true" class="form-control" name="lastChangeDate" datetime-picker="{{dateformat}}" ng-model="vm.namespace.lastChangeDate" is-open="vm.datePickerOpenStatus.lastChangeDate"
                        />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" disabled="true" ng-click="vm.openCalendar('lastChangeDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label" data-translate="registration.lastRevisionDate" for="field_lastRevisionDate">Last Revision Date</label>
                    <div class="input-group">
                        <input id="field_lastRevisionDate" disabled="true" type="text" class="form-control" name="lastRevisionDate" datetime-picker="{{dateformat}}" ng-model="vm.namespace.lastRevisionDate" is-open="vm.datePickerOpenStatus.lastRevisionDate"
                        />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" disabled="true" ng-click="vm.openCalendar('lastRevisionDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label" data-translate="registration.nextRenewalDate" for="field_nextRenewalDate">Next Renewal Date</label>
                    <div class="input-group">
                        <input id="field_nextRenewalDate" type="text" class="form-control" name="nextRenewalDate" datetime-picker="{{dateformat}}" ng-model="vm.namespace.nextRenewalDate" is-open="vm.datePickerOpenStatus.nextRenewalDate"
                        />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('nextRenewalDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label" data-translate="registration.annullationDate" for="field_annullationDate">Annullation Date</label>
                    <div class="input-group">
                        <input id="field_annullationDate" type="text" class="form-control" name="annullationDate" datetime-picker="{{dateformat}}" ng-model="vm.namespace.annullationDate" is-open="vm.datePickerOpenStatus.annullationDate"
                        />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('annullationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
